$mainPurpleLight: #3348ce;
$mainPurple: #334ecd;
$mainPurpleDarker: #0e1a4e;
$pinkRed: #d81159;
$brightRed: #bb1a1a;
$appGreen: #32a323;
$appAssignPurple: #2a44b8;

$sharpYellow: #fcba04;
$white: rgba(255, 255, 255, 1);

.bg-purp {
  background-color: $mainPurpleDarker;
}

.bg-white {
  background-color: #fff;
}

.bg-input-purp {
  background-color: #9fa8ce;
}

.bg-app-darker {
  background-color: #f7f7f7;
}
