.full-page {
  min-height: 100vh;
}

.inline-margin-right {
  margin-right: 10px;
}

.inline-margin-left {
  margin-left: 10px;
}

.spacer-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.spacer-padding-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}
