@import "colors";
body {
  font-family: "Source Sans Pro", sans-serif;
}

.dark-text {
  color: $mainPurpleDarker;
}

.text-green {
  color: $appGreen;
}

.error-text {
  color: $brightRed;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.route-heading {
  font-size: 28px;
  font-weight: 600;
}

.login-title {
  display: block;
  font-size: 25px;
  padding-bottom: 20px;
}
.form-prompt {
  display: block;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 0px;
}

.form-section-title {
  display: block;
  font-size: 24px;
  font-weight: 600;

  padding: 2px 0;
}

.form-section-subtitle {
  display: block;
  font-size: 12px;
  font-style: italic;

  padding: 2px 0;
}

.error-text-red {
  font-size: 12px;
  display: block;
  padding: 2px 0;
  color: rgb(250, 19, 19);
}

.span-pill {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 3px;
}
.active-ticket {
  @extend .span-pill;
  background-color: $pinkRed;
  color: #fff;
}

.closed-ticket {
  @extend .span-pill;
  background-color: $mainPurple;
  color: #fff;
}
