<div class="col-lg-12 ticket-response-container" style="min-height: 70vh;">
  <div>
    <button
      class="app-button bg-purp uppercase text-white pull-right"
      (click)="respondActivate()"
    >
      Repsond
    </button>
    <div class="clearfix"></div>
  </div>

  <div class="" *ngIf="!loading">
    <div class="ticket-response-box" *ngFor="let response of responses">
      <div class="response-owner">
        {{ response.respondeeEmailAddress }}
      </div>
      <div class="response-body">
        <span [innerHTML]="response.response"></span>
      </div>
      <div class="response-footer">
        {{ response.createdDate | date: "mediumDate" }}&nbsp;{{
          response.createdDate | date: "mediumTime"
        }}
      </div>
    </div>
  </div>
  <div *ngIf="loading"></div>
</div>
