<div class="container-fluid app-modal">
  <form [formGroup]="appForm" (ngSubmit)="submitForm()">
    <div class="row modal-header-row bg-purple">
      <div class="col-lg-12">
        <span class="modal-heading-text ">New Ticket</span>
        <span class="modal-heading-text   pull-right link-up" (click)="cancel()"
          ><i class="fa fa-close"></i
        ></span>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-lg-6 col-xs-12">
        <span class="form-prompt">Customer Name</span>
        <input
          class="modal-text-box"
          formControlName="customerName"
          type="text"
          placeholder="Customer Name"
        />
        <span
          class="animated fadeIn"
          *ngIf="isSubmitted && customerName.invalid"
        >
          <span
            class="error-text-red block"
            *ngIf="customerName.errors.required"
            >Please provide a first name</span
          >
        </span>
      </div>
      <div class="col-lg-6 col-xs-12">
        <span class="form-prompt">Customer Email Address</span>
        <input
          class="modal-text-box"
          type="text"
          placeholder="Email Address"
          formControlName="customerEmailAddress"
        />
        <span
          class="animated fadeIn"
          *ngIf="isSubmitted && customerEmailAddress.invalid"
        >
          <span
            class="error-text-red block"
            *ngIf="customerEmailAddress.errors.required"
            >Please provide an email address</span
          >
          <span
            class="error-text-red block"
            *ngIf="customerEmailAddress.errors.pattern"
            >Please provide a valid email address</span
          >
        </span>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-lg-12 col-xs-12"></div>
    </div>
    <div class="row form-row">
      <div class="col-lg-6 col-xs-12">
        <span class="form-prompt ">Solution * </span>
        <select class="select-css bg-app-darker" formControlName="solution">
          <option value="null" selected disabled>Choose Account Type</option>
          <option value="{{ type }}" *ngFor="let type of accountTypes">{{
            type
          }}</option>
        </select>
      </div>
      <div class="col-lg-6 col-xs-12">
        <span class="form-prompt ">Issue Category * </span>
        <select
          class="select-css bg-app-darker"
          formControlName="issueCategory"
        >
          <option value="null" selected disabled>Select Issue Category</option>
          <option value="{{ type }}" *ngFor="let type of accountTypes">{{
            type
          }}</option>
        </select>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-lg-12 col-xs-12">
        <span class="form-prompt">Issue Description</span>
        <textarea
          [froalaEditor]
          style="min-height: 300px;"
          formControlName="issueDescription"
        ></textarea>
      </div>
    </div>

    <div class="row form-row">
      <hr />
      <div class="col-lg-6">
        <button
          class="modal-button dark-text uppercase bg-white "
          type="button"
          (click)="cancel()"
        >
          cancel
        </button>
      </div>
      <div class="col-lg-6">
        <button class="bg-purp modal-button  uppercase" type="submit">
          <span *ngIf="loading">
            <span
              class="spinner-grow spinner-grow-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Please wait</span
          >
          <span *ngIf="!loading">
            <span *ngIf="data?.edit">update Ticket</span>
            <span *ngIf="!data?.edit">create Ticket</span>
          </span>
        </button>
      </div>
    </div>
  </form>
</div>
